In [1]:
# Dependencies
import numpy as np
import pandas as pd
import requests

# API Key
from config import apikey

In [2]:
# Read the data
cont_data_df = pd.read_csv("./Resources/Clean_Committee_2017.csv", low_memory=False)
cont_data_df.head()

,Unnamed: 0,Election,CandidateID,CandidateName,Date,Name,ContributerType,BoroughName,City,State,ZipCode,ContributionState,Amount,MatchAmt,PrevAmt,PayMethod,TotalAmount
0,0,2017,326.0,"de Blasio, Bill",NaN,1199/SEIU NYS Pol. Action Fund,Political Action Committee,Manhattan,New York,NY,10108,NaN,4950.0,0,0,Check,4950.0
1,1,2017,326.0,"de Blasio, Bill",NaN,32BJ United ADF,Political Action Committee,Manhattan,New York,NY,10011,NaN,2500.0,0,0,Check,2500.0
2,2,2017,326.0,"de Blasio, Bill",NaN,32BJ United ADF,Political Action Committee,Manhattan,New York,NY,10011,NaN,2450.0,0,2500,Check,4950.0
3,3,2017,326.0,"de Blasio, Bill",NaN,ACEC New York City PAC,Political Action Committee,Manhattan,New York,NY,10018,NaN,4950.0,0,0,Check,4950.0
4,4,2017,326.0,"de Blasio, Bill",NaN,AFSCME DC 1707 PAC,Political Action Committee,Manhattan,New York,NY,10013,NaN,500.0,0,0,Check,500.0

In [3]:
# Drop unnecessary columns
cont_data_df = cont_data_df.drop(['Election', 'CandidateID', 'Date', 'ContributionState', 'ContributerType', 'MatchAmt', 'PayMethod'], axis=1)
cont_data_df

,Unnamed: 0,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,PrevAmt,TotalAmount
0,0,"de Blasio, Bill",1199/SEIU NYS Pol. Action Fund,Manhattan,New York,NY,10108,4950.0,0,4950.0
1,1,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011,2500.0,0,2500.0
2,2,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011,2450.0,2500,4950.0
3,3,"de Blasio, Bill",ACEC New York City PAC,Manhattan,New York,NY,10018,4950.0,0,4950.0
4,4,"de Blasio, Bill",AFSCME DC 1707 PAC,Manhattan,New York,NY,10013,500.0,0,500.0
...,...,...,...,...,...,...,...,...,...,...
232,232,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006,4950.0,4950,9900.0
233,233,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006,-4950.0,0,-4950.0
234,234,"de Blasio, Bill","USW D-4 NY, NJ, DE, ME",Other,Cheektowaga,NY,14225,2500.0,0,2500.0
235,235,"de Blasio, Bill",Van Bramer 2017,Manhattan,New York,NY,10016,4950.0,0,4950.0
236,236,"de Blasio, Bill",Voice of Teachers for Educatio,Other,Latham,NY,12110,4950.0,0,4950.0

In [4]:
# Regularize numerical columns
cont_data_df['ZipCode'] = cont_data_df['ZipCode'].astype(int)
cont_data_df['Amount'] = cont_data_df['Amount'].astype(int)
cont_data_df['PrevAmt'] = cont_data_df['PrevAmt'].astype(int)
cont_data_df['TotalAmount'] = cont_data_df['TotalAmount'].astype(int)
cont_data_df

,Unnamed: 0,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,PrevAmt,TotalAmount
0,0,"de Blasio, Bill",1199/SEIU NYS Pol. Action Fund,Manhattan,New York,NY,10108,4950,0,4950
1,1,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011,2500,0,2500
2,2,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011,2450,2500,4950
3,3,"de Blasio, Bill",ACEC New York City PAC,Manhattan,New York,NY,10018,4950,0,4950
4,4,"de Blasio, Bill",AFSCME DC 1707 PAC,Manhattan,New York,NY,10013,500,0,500
...,...,...,...,...,...,...,...,...,...,...
232,232,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006,4950,4950,9900
233,233,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006,-4950,0,-4950
234,234,"de Blasio, Bill","USW D-4 NY, NJ, DE, ME",Other,Cheektowaga,NY,14225,2500,0,2500
235,235,"de Blasio, Bill",Van Bramer 2017,Manhattan,New York,NY,10016,4950,0,4950
236,236,"de Blasio, Bill",Voice of Teachers for Educatio,Other,Latham,NY,12110,4950,0,4950

In [5]:
# Export cleaned data
cont_data_df.to_csv("./Resources/Clean_Committee_2017_Revised.csv", encoding='utf-8', index=False)

In [6]:
# Read the data for the next file
cont_data2_df = pd.read_csv("./Resources/Clean_Individual_2017.csv", low_memory=False)
cont_data2_df.head()

,Unnamed: 0,Election,CandidateID,CandidateName,Date,Name,ContributerType,BoroughName,City,State,ZipCode,ContributionState,Amount,MatchAmt,PrevAmt,PayMethod,TotalAmount
0,0,2017,326,"de Blasio, Bill",2017-08-07,"A Hayes, Melinda",Individual,Brooklyn,Brooklyn,NY,11213.0,NY,5.0,5.0,0.0,Credit Card,10.0
1,1,2017,2071,"Malliotakis, Nicole",2017-09-20,"Aalbue, Raymond",Individual,Brooklyn,Brooklyn,NY,11209.0,NaN,100.0,100.0,0.0,Credit Card,200.0
2,2,2017,2051,"Slattery, Collin",2017-06-01,"Aaron, Allen",Individual,Queens,Howard Beach,NY,11414.0,NaN,50.0,50.0,0.0,Credit Card,100.0
3,3,2017,326,"de Blasio, Bill",2017-10-23,"Aarons, Natasha",Individual,Manhattan,New York,NY,10027.0,NY,175.0,175.0,0.0,Credit Card,350.0
4,4,2017,326,"de Blasio, Bill",2016-05-08,"Ababio, Carol",Individual,Other,Riverview,FL,33579.0,NY,175.0,0.0,0.0,Credit Card,175.0

In [7]:
# Drop unnecessary columns
cont_data2_df = cont_data2_df.drop(['Election', 'CandidateID', 'Date', 'ContributionState', 'ContributerType', 'MatchAmt', 'PayMethod'], axis=1)
cont_data2_df

,Unnamed: 0,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,PrevAmt,TotalAmount
0,0,"de Blasio, Bill","A Hayes, Melinda",Brooklyn,Brooklyn,NY,11213.0,5.0,0.0,10.0
1,1,"Malliotakis, Nicole","Aalbue, Raymond",Brooklyn,Brooklyn,NY,11209.0,100.0,0.0,200.0
2,2,"Slattery, Collin","Aaron, Allen",Queens,Howard Beach,NY,11414.0,50.0,0.0,100.0
3,3,"de Blasio, Bill","Aarons, Natasha",Manhattan,New York,NY,10027.0,175.0,0.0,350.0
4,4,"de Blasio, Bill","Ababio, Carol",Other,Riverview,FL,33579.0,175.0,0.0,175.0
...,...,...,...,...,...,...,...,...,...,...
27442,27442,"Malliotakis, Nicole","Zwerdling, Marc",Manhattan,New York,NY,10022.0,175.0,50.0,350.0
27443,27443,"Malliotakis, Nicole","ZWERMAN, ANDREW",Manhattan,New York,NY,10016.0,50.0,0.0,100.0
27444,27444,"de Blasio, Bill","Zwiebach, Peter",Queens,Astoria,NY,11105.0,50.0,0.0,100.0
27445,27445,"de Blasio, Bill","Zyati, Abdessadeq",Brooklyn,Brooklyn,NY,11225.0,3.0,0.0,6.0
27446,27446,"de Blasio, Bill","Zygnerski, Karen",Brooklyn,Brooklyn,NY,11229.0,25.0,0.0,50.0

In [8]:
# Regularize numerical columns
cont_data2_df['ZipCode'] = cont_data2_df['ZipCode'].dropna()
cont_data2_df['ZipCode'] = cont_data2_df['ZipCode'].round(2)
cont_data2_df['Amount'] = cont_data2_df['Amount'].round(2)
cont_data2_df['PrevAmt'] = cont_data2_df['PrevAmt'].round(2)
cont_data2_df['TotalAmount'] = cont_data2_df['TotalAmount'].round(2)
cont_data2_df

,Unnamed: 0,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,PrevAmt,TotalAmount
0,0,"de Blasio, Bill","A Hayes, Melinda",Brooklyn,Brooklyn,NY,11213.0,5.0,0.0,10.0
1,1,"Malliotakis, Nicole","Aalbue, Raymond",Brooklyn,Brooklyn,NY,11209.0,100.0,0.0,200.0
2,2,"Slattery, Collin","Aaron, Allen",Queens,Howard Beach,NY,11414.0,50.0,0.0,100.0
3,3,"de Blasio, Bill","Aarons, Natasha",Manhattan,New York,NY,10027.0,175.0,0.0,350.0
4,4,"de Blasio, Bill","Ababio, Carol",Other,Riverview,FL,33579.0,175.0,0.0,175.0
...,...,...,...,...,...,...,...,...,...,...
27442,27442,"Malliotakis, Nicole","Zwerdling, Marc",Manhattan,New York,NY,10022.0,175.0,50.0,350.0
27443,27443,"Malliotakis, Nicole","ZWERMAN, ANDREW",Manhattan,New York,NY,10016.0,50.0,0.0,100.0
27444,27444,"de Blasio, Bill","Zwiebach, Peter",Queens,Astoria,NY,11105.0,50.0,0.0,100.0
27445,27445,"de Blasio, Bill","Zyati, Abdessadeq",Brooklyn,Brooklyn,NY,11225.0,3.0,0.0,6.0
27446,27446,"de Blasio, Bill","Zygnerski, Karen",Brooklyn,Brooklyn,NY,11229.0,25.0,0.0,50.0

In [9]:
# Export cleaned data
cont_data_df.to_csv("./Resources/Clean_Individual_2017_Revised.csv", encoding='utf-8', index=False)