In [1]:

import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter


from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
#Import the Individual Contributions of 2017 CSV
indiv_cont_2017_df = pd.read_csv("Resources/Individual Contributions 2017 (X).csv")
indiv_cont_2017_df.head()

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,PAGENO,SEQUENCENO,...,INTEMPSTNM,INTEMPCITY,INTEMPST,INTOCCUPA,PURPOSECD,EXEMPTCD,ADJTYPECD,RR_IND,SEG_IND,INT_C_CODE
0,2017,1,326,P,"de Blasio, Bill",P,10,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
1,2017,1,AU,P,"Albanese, Sal F",J,6,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
2,2017,1,2071,P,"Malliotakis, Nicole",H,13,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
3,2017,1,2051,P,"Slattery, Collin",H,9,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
4,2017,1,1958,NP,"Massey, Jr., Paul J",H,7,ABC,NaN,NaN,...,Broadway,New York,NY,Architect,NaN,NaN,NaN,N,N,IND

In [4]:
indiv_cont_2017_df.drop(['FILING', 'SCHEDULE', "PAGENO", 'SEQUENCENO', 'REFNO', 'REFUNDDATE','STRNO','STRNAME', 'APARTMENT',
                        'BOROUGHCD', 'EMPSTRNO','EMPSTRNAME', 'EMPCITY', 'EMPSTATE', 'PREVAMNT', 'PAY_METHOD', 'INTERMNO',
                        'INTERMNAME', 'INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTAPTNO', 'INTCITY', 'INTST',
                        'INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA', 'PURPOSECD',
                        'EXEMPTCD', 'ADJTYPECD', 'RR_IND', 'SEG_IND', 'INT_C_CODE'], axis = 1, inplace=True)

In [5]:
indiv_cont_2017_df.columns

Index(['ELECTION', 'OFFICECD', 'RECIPID', 'CANCLASS', 'RECIPNAME', 'COMMITTEE',
       'DATE', 'NAME', 'C_CODE', 'CITY', 'STATE', 'ZIP', 'OCCUPATION',
       'EMPNAME', 'AMNT', 'MATCHAMNT'],
      dtype='object')

In [9]:
indiv_cont_2017_df.head(10)

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,DATE,NAME,C_CODE,CITY,STATE,ZIP,OCCUPATION,EMPNAME,AMNT,MATCHAMNT
0,2017,1,326,P,"de Blasio, Bill",P,8/7/2017,"A Hayes, Melinda",IND,Brooklyn,NY,11213,Attorney,NYC,5.0,5
1,2017,1,AU,P,"Albanese, Sal F",J,12/16/2016,"A Mohamad, Mohamad",IND,Sparta Township,NJ,7871,President,MAM Electric Corporation,250.0,0
2,2017,1,2071,P,"Malliotakis, Nicole",H,9/20/2017,"Aalbue, Raymond",IND,Brooklyn,NY,11209,RETIRED,NaN,100.0,100
3,2017,1,2051,P,"Slattery, Collin",H,6/1/2017,"Aaron, Allen",IND,Howard Beach,NY,11414,Pilot,American Airlines,50.0,50
4,2017,1,1958,NP,"Massey, Jr., Paul J",H,2/16/2017,"Aarons, David",IND,Upper Saddle River,NJ,7458,coo,afd contract,1000.0,0
5,2017,1,1958,NP,"Massey, Jr., Paul J",H,2/17/2017,"Aarons, David",IND,Upper Saddle River,NJ,7458,coo,afd contract,400.0,0
6,2017,1,1958,NP,"Massey, Jr., Paul J",H,2/16/2017,"Aarons, David",IND,Upper Saddle River,NJ,7458,NaN,NaN,-1000.0,0
7,2017,1,326,P,"de Blasio, Bill",P,10/23/2017,"Aarons, Natasha",IND,New York,NY,10027,Marketing Manager,Google,175.0,175
8,2017,1,1958,NP,"Massey, Jr., Paul J",H,2/16/2017,"Aarons, Richard",IND,Westwood,NJ,7675,ceo,afd contract,1000.0,0
9,2017,1,1958,NP,"Massey, Jr., Paul J",H,2/17/2017,"Aarons, Richard",IND,Westwood,NJ,7675,ceo,afd contract,400.0,0

In [ ]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

n = application_df.nunique(axis=0)
  
print("No.of.unique values in each column :\n",
      n)

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE

application_df['APPLICATION_TYPE'].value_counts()

In [ ]:
# Remove rows that have at least 1 null value.
# part 1
# YOUR CODE HERE
for column in crypto_df.columns:
    print (f"Column {column} has {crypto_df [column].isnull().sum()} null values")

In [ ]:
#Drop null rows
# part 2 from above
crypto_df = crypto_df.dropna()

In [ ]:
for column in crypto_df.columns:
    print (f"Column {column} has {crypto_df [column].isnull().sum()} null values")

In [ ]:
# Keep the rows where coins are mined.
# YOUR CODE HERE

crypto_df = crypto_df[(crypto_df.TotalCoinsMined != 0)]
crypto_df.head()

In [ ]:
# Create a new DataFrame that holds only the cryptocurrencies names.
crypto_name_df = crypto_df.filter(["CoinName"], axis = 1)
crypto_name_df.head(10)

In [ ]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

In [ ]:
# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100

In [ ]:
employees.rename(columns={'age': 'User Age', 'salary': 'Salary 2018'}, inplace=True)
print(employees)