In [286]:
# Initial imports
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import pandas as pd
import numpy as np

In [287]:
file = '../Resources/Clean_Committee_2013.csv'
IC_2017 = pd.read_csv(file,index_col=False)
IC_2017.head()

,Unnamed: 0,Election,CandidateID,CandidateName,Date,Name,ContributerType,BoroughName,City,State,ZipCode,ContributionState,Amount,MatchAmt,PrevAmt,PayMethod,TotalAmount
0,0,2013,204,"Quinn, Christine C",2011-07-11,1199 SEIU PAC - NYS PA Fund,Political Action Committee,Manhattan,New York,NY,10036.0,NaN,1000.00,0.0,0.0,Check,1000.00
1,1,2013,204,"Quinn, Christine C",2013-01-10,1199 SEIU PAC - NYS PA Fund,Political Action Committee,Manhattan,New York,NY,10036.0,NaN,3950.00,0.0,1000.0,Check,4950.00
2,2,2013,326,"de Blasio, Bill",2010-04-29,1199/SEIU NYS Pol. Action Fund,Political Action Committee,Manhattan,New York,NY,10036.0,NaN,4950.00,0.0,0.0,Check,4950.00
3,3,2013,326,"de Blasio, Bill",2013-09-08,1199/SEIU NYS Pol. Action Fund,Political Action Committee,Manhattan,New York,NY,10036.0,NaN,19084.25,0.0,0.0,Unknown,19084.25
4,4,2013,326,"de Blasio, Bill",2013-09-08,1199/SEIU NYS Pol. Action Fund,Political Action Committee,Manhattan,New York,NY,10036.0,NaN,168.31,0.0,0.0,Unknown,168.31

In [288]:
IC_2017.columns

Index(['Unnamed: 0', 'Election', 'CandidateID', 'CandidateName', 'Date',
       'Name', 'ContributerType', 'BoroughName', 'City', 'State', 'ZipCode',
       'ContributionState', 'Amount', 'MatchAmt', 'PrevAmt', 'PayMethod',
       'TotalAmount'],
      dtype='object')

In [289]:
IC_2017_df = IC_2017.drop(columns=['CandidateName','ContributionState','PayMethod','Name','CandidateID','Unnamed: 0','Election','BoroughName'])
IC_2017_df

,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount
0,2011-07-11,Political Action Committee,New York,NY,10036.0,1000.00,0.0,0.0,1000.00
1,2013-01-10,Political Action Committee,New York,NY,10036.0,3950.00,0.0,1000.0,4950.00
2,2010-04-29,Political Action Committee,New York,NY,10036.0,4950.00,0.0,0.0,4950.00
3,2013-09-08,Political Action Committee,New York,NY,10036.0,19084.25,0.0,0.0,19084.25
4,2013-09-08,Political Action Committee,New York,NY,10036.0,168.31,0.0,0.0,168.31
...,...,...,...,...,...,...,...,...,...
727,2013-10-12,Political Action Committee,Washington,DC,20004.0,1000.00,0.0,0.0,1000.00
728,2013-10-21,Political Action Committee,Washington,DC,20004.0,2000.00,0.0,1000.0,3000.00
729,2012-06-22,Corporation,New York,NY,10011.0,1000.00,0.0,0.0,1000.00
730,2012-06-22,Corporation,New York,NY,10011.0,-1000.00,0.0,0.0,-1000.00
731,2011-10-14,Other,West Orange,NJ,7052.0,50.00,0.0,0.0,50.00

In [290]:
outcome = []
for i in IC_2017['CandidateName']:
    if i == 'de Blasio, Bill':
        outcome.append('W')
    else:
        outcome.append('L')

IC_2017_df['Outcome'] = outcome
IC_2017_df.head()

,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount,Outcome
0,2011-07-11,Political Action Committee,New York,NY,10036.0,1000.00,0.0,0.0,1000.00,L
1,2013-01-10,Political Action Committee,New York,NY,10036.0,3950.00,0.0,1000.0,4950.00,L
2,2010-04-29,Political Action Committee,New York,NY,10036.0,4950.00,0.0,0.0,4950.00,W
3,2013-09-08,Political Action Committee,New York,NY,10036.0,19084.25,0.0,0.0,19084.25,W
4,2013-09-08,Political Action Committee,New York,NY,10036.0,168.31,0.0,0.0,168.31,W

In [291]:
IC_2017_df = IC_2017_df.dropna()
IC_2017_df.isnull().sum()

Date               0
ContributerType    0
City               0
State              0
ZipCode            0
Amount             0
MatchAmt           0
PrevAmt            0
TotalAmount        0
Outcome            0
dtype: int64

In [292]:
X = IC_2017_df.drop('Outcome',axis = 1)
X = pd.get_dummies(X)

In [293]:
y = IC_2017_df['Outcome']

In [294]:
# Check the balance of our target values
y.value_counts()

L    415
W    316
Name: Outcome, dtype: int64

In [295]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [296]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE

from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier(n_estimators = 100,random_state = 1)
random_forest = random_forest.fit(X_train, y_train)

In [297]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7134858812074002

In [298]:
# Display the confusion matrix
# YOUR CODE HERE
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[76, 28],
       [24, 55]])

In [299]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          L       0.76      0.73      0.70      0.75      0.71      0.51       104
          W       0.66      0.70      0.73      0.68      0.71      0.51        79

avg / total       0.72      0.72      0.71      0.72      0.71      0.51       183

In [300]:
IC_2017_df.head()

,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount,Outcome
0,2011-07-11,Political Action Committee,New York,NY,10036.0,1000.00,0.0,0.0,1000.00,L
1,2013-01-10,Political Action Committee,New York,NY,10036.0,3950.00,0.0,1000.0,4950.00,L
2,2010-04-29,Political Action Committee,New York,NY,10036.0,4950.00,0.0,0.0,4950.00,W
3,2013-09-08,Political Action Committee,New York,NY,10036.0,19084.25,0.0,0.0,19084.25,W
4,2013-09-08,Political Action Committee,New York,NY,10036.0,168.31,0.0,0.0,168.31,W

In [301]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_selection import SelectKBest, chi2
le = LabelEncoder()
# IC_2017_df['CandidateName']= le.fit_transform(IC_2017_df['CandidateName'])
IC_2017_df['Date'] = le.fit_transform(IC_2017_df['Date'])
IC_2017_df['ContributerType'] = le.fit_transform(IC_2017_df['ContributerType'])
IC_2017_df['City'] = le.fit_transform(IC_2017_df['City'])
IC_2017_df['Amount'] = le.fit_transform(IC_2017_df['Amount'])
IC_2017_df['State'] = le.fit_transform(IC_2017_df['State'])
IC_2017_df['ZipCode'] = le.fit_transform(IC_2017_df['ZipCode'])
IC_2017_df['MatchAmt'] = le.fit_transform(IC_2017_df['MatchAmt'])
IC_2017_df['PrevAmt'] = le.fit_transform(IC_2017_df['PrevAmt'])
IC_2017_df['TotalAmount'] = le.fit_transform(IC_2017_df['TotalAmount'])
IC_2017_df['Outcome'] = le.fit_transform(IC_2017_df['Outcome'])
IC_2017_df.head()

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount,Outcome
0,136,7,54,18,31,51,0,0,51,0
1,210,7,54,18,31,77,0,8,99,0
2,58,7,54,18,31,84,0,0,99,1
3,262,7,54,18,31,86,0,0,117,1
4,262,7,54,18,31,32,0,0,32,1

In [302]:
# separate train features and label
y = IC_2017_df["Outcome"]
X = IC_2017_df.drop(labels=["Outcome"], axis=1)
# split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)
# train and test knn model
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Testing Accuracy is: ", knn.score(X_test, y_test)*100, "%")

Testing Accuracy is:  68.70748299319727 %

In [303]:
y.dtypes

dtype('int64')

In [304]:
scaler = MinMaxScaler(feature_range=(0, 1))

In [305]:
features = list(IC_2017_df.columns)

In [306]:
IC_2017_df[features] = scaler.fit_transform(IC_2017_df[features])

/Users/Abir/.local/lib/python3.7/site-packages/pandas/core/frame.py:3673: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [307]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.70      0.78      0.56      0.74      0.66      0.45        83
          1       0.67      0.56      0.78      0.61      0.66      0.43        64

avg / total       0.68      0.69      0.66      0.68      0.66      0.44       147

In [308]:
import matplotlib.pyplot as plt

In [309]:
X_test

,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount
401,175,3,54,18,31,51,0,21,84
385,283,7,45,18,55,64,0,0,68
682,279,3,21,13,125,84,0,0,99
648,20,7,64,18,82,70,0,0,73
708,92,3,54,18,13,57,0,0,58
...,...,...,...,...,...,...,...,...,...
179,136,0,53,18,50,51,0,0,51
126,233,7,91,3,108,70,0,8,84
64,155,7,54,18,13,33,0,0,33
474,208,7,54,18,31,10,0,0,10
433,216,5,54,18,32,84,0,0,99